<a href="https://colab.research.google.com/github/FelipeCaetanoSS/CursoAulaPython/blob/Lista1/Lista1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercício 1**

In [ ]:
print("Olá, estou aprendendo python")

Olá, estou aprendendo python

**Exercício 2**

In [ ]:
nome = "Felipe"
idade = 20
print(nome)
print(idade)

Felipe
20

**Exercício 3**

In [ ]:
nome = "Felipe"
saudação = "Olá, "
print(saudação + nome)

Olá, Felipe

**Exercício 4**

In [ ]:
lembrete1 = "Abrir janela"
lembrete2 = "Guardar comida"
lembrete3 = "Fazer exercício"
print(lembrete1)
print(lembrete2)
print(lembrete3)

Abrir janela
Guardar comida
Fazer exercício

**Exercício 5**

In [ ]:
print("  * ")
print(" *** ")
print("*****")
print(" *** ")
print("  * ")

  *
 ***
*****
 ***
  *

**Exercício 6**

In [ ]:
nome = "Felipe"
print(nome)

**Exercício 7**

In [ ]:
nome_pai = "João"
idade_pai = 40
nome_mae = "Maria"
idade_mae = 38
quantidade_irmaos = 1

print("nome do pai é:",nome_pai)
print("a idade é:", idade_pai)
print("nome da mãe é:",nome_mae)
print("a idade é:",idade_mae)
print("tem",quantidade_irmaos,"irmão(s)")

nome do pai é: João
a idade é: 40
nome da mãe é: Maria
a idade é: 38
tem 1 irmão(s)

**Exercício 8**

In [ ]:
valor_prod = 19.99
print("O preço do produto é:",valor_prod)

O preço do produto é : 19.99

**Exercício 9**

In [ ]:
eh_estudante = True
print(eh_estudante)

True

**Exercício 10**

In [ ]:
a = 10
b = 20

print("Antes")
print("a =",a)
print("b =",b)

a,b = b,a

print("Depois")
print("a =",a)
print("b =",b)

Antes
a = 10
b = 20
Depois
a = 20
b = 10

**Exercício 11**

In [ ]:
a = 50
b = 10

soma = a + b
subtracao = a - b
multiplicacao = a * b
divisao = a / b

print("Soma:", soma)
print("Subtração:", subtracao)
print("Multiplicação:", multiplicacao)
print("Divisão:", divisao)

Soma: 60
Subtração: 40
Multiplicação: 500
Divisão: 5.0

**Exercício 12**

In [ ]:
nota1 = 7.5
nota2 = 8.0
nota3 = 6.5

media = (nota1 + nota2 + nota3) / 3

print("A média é:", media)

A média é: 7.333333333333333

**Exercício 13**

In [ ]:
idade = 20

qnt_meses = idade * 12

print("A idade em meses é:",qnt_meses)

A idade em meses é: 240

**Exercício 14**

In [ ]:
nome = "Felipe"
sobrenome = "Caetano"
nome_completo = nome + " " + sobrenome
print(nome_completo)

Felipe Caetano

**Exercício 15**

In [1]:
adj = "lindas"
verbo = "são"
subs = "A pessoas"

frase = subs + " " + verbo + " " + adj
print(frase)

A pessoas são lindas

**Exercício 16**

In [2]:
idade = 18

if idade >= 18:
  print("Você pode tirar CNH")
elif idade < 18:
  print("Você não pode tirar CNH")

Você pode tirar CNH

**Exercício 17**

In [3]:
senha_correta = "python123"
senha = input("Digite a senha: ")

if senha == senha_correta:
  print("Login com sucesso!")
else:
  print("Senha incorreta")

Digite a senha: python123
Login com sucesso!

**Exercício 18**

In [7]:
numero = int(input("Digite o número que deseja:"))

if numero >= 0:
  print("O número é positivo")
else:
  print("O número é negativo")

Digite o número que deseja:16
O número é positivo

**Exercício 19**

In [14]:
num = int(input("Digite um número:"))

if num % 2 == 0:
  print("O número é par")
else:
  print("O número é ímpar")

Digite um número:15
O número é ímpar

**Exercício 20**

In [13]:
temperatura = float(input("Digite a temperatura em graus Celsius: "))

if temperatura >=25:
  print("Está calor!")
elif temperatura >= 15:
  print("Está agradável o clima!")
else:
  print("Está frio!")

Digite a temperatura em graus Celsius: 24
Está agradável o clima!

**Exercício 21**

In [16]:
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

**Exercício 22**

In [17]:
for num in range(10, 0, -1):
  print(num)

10
9
8
7
6
5
4
3
2
1

**Exercício 23**

In [18]:
numero = 5

for i in range(1, 11):
  resultado = numero * i
  print(f"{numero} x {i} = {resultado}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**Exercício 24**

In [28]:
lista_frutas = ["laranja", "uva", "banana", "manga"]

for fruta in lista_frutas:
  print(fruta)

laranja
uva
banana
manga

**Exercício 25**

In [35]:
soma = 0
for i in range(1, 101):
  soma += i

print("Soma total:",soma)

Soma total: 5050

**Exercício 26**

In [37]:
frase = str(input("Digite uma frase:"))
numero = int(input("Digite quantidade de vezes:"))

for _ in range(numero):
  print(frase)

Digite uma frase:Frase
Digite quantidade de vezes:4
Frase
Frase
Frase
Frase

**Exercício 27**

In [43]:
frase = str(input("Digite uma frase:"))
total = 0

for letra in frase:
  if letra == "a" or letra == "e" or letra == "i" or letra == "o" or letra == "u":
    total += 1

print("O total de vogais são:", total)

Digite uma frase:frase
O total de vogais são: 2

**Exercício 28**

In [57]:
palavra = str(input("Digite uma palavra:"))
invertida = ""

for i in range(len(palavra) - 1, -1, -1):
  invertida += palavra[i]

print("Palavra invertida:",invertida)

Digite uma palavra:abcd
Palavra invertida: dcba

**Exercício 29**

In [68]:
tamanho = int(input("Digite o tamanho do triângulo: "))

for i in range(1, tamanho, + 1):
    print("*" * i)

for i in range(tamanho, 0, -1):
    print("*" * i)

Digite o tamanho do triângulo: 5
*
**
***
****
*****
****
***
**
*

**Exercício 30**

In [71]:
letras = ['p', 'y', 't', 'h', 'o', 'n']
palavra = ""

for letra in letras:
    palavra += letra

print(palavra)

python